* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    310.6deg,
    rgba(100, 0, 233, 0.94) 6.8%,
    rgba(166, 0, 188, 0.66) 57.8%
  );
  color: white;
  font-family: "Poppins", sans-serif;
}

body,
html {
  min-height: 100%;
}

header {
  font-size: 1rem;
}

header {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5em;
  font-size: 1.2rem;
  border: none;
  background: white;
}

form button {
  color: hsl(290, 100%, 50%);
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: hsl(290, 100%, 50%);
  color: white;
}

/* todo section */

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5em;
  background: white;
  color: black;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5 ease;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: hsl(0, 100%, 50%);
  color: white;
  border: none;
  padding: 0.8em;
  cursor: pointer;
  font-size: 0.8rem;
}

.complete-btn {
  background: rgb(73, 204, 73);
}

.todo-item {
  padding: 0em 0.5em;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  /* animación */
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
  /* duración animación */
  transition: 0.8s;
}

select {
  /* remove all the styles */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1em;
  position: relative;
  /* esconde la flecha */
  overflow: hidden;
}

select {
  color: hsl(290, 100%, 50%);
  width: 8em;
  font-weight: 600;
  cursor: pointer;
  padding: 0.95em;
}

.select::after {
  /* agrega flecha al select */
  content: "\25BC";
  /* coloca flecha dentro del select */
  position: absolute;
  background: hsl(290, 100%, 50%);
  top: 0;
  right: 0;
  padding: 0.6em;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background: white;
  color: hsl(290, 100%, 50%);
}

span {
  color: aliceblue;
}
